@import "../components/partials/_variables";
@import "../components/partials/_header";
@import "../components/partials/_footer";

.allScreens {
	height : 100%;
	width : $comic-screen-lg;
	display: $comic-flex;
	flex-direction : row;
	flex-wrap : wrap;
	/*justify-content : space-around;*/
	/*& .screen_row {
		margin : 10px;
		background : $comic-grey;	
		height : 200px;
		display : inherit;
		flex-direction : row;
		flex-wrap: nowrap;*/
	  & .sub_screens {
	  		position : $comic-relative;
			height : $comic-height-sm;
			max-height: $comic-height-sm;
    		width : $comic-screen-sm;
    		background : $pallete-bg-grey;
    		margin : $comic-margin;
    		flex-grow:1;
    		   &:nth-child(4n + 6) {
					max-height : $comic-height-lg;
					height : $comic-height-lg;
					width : $comic-screen-md;	
					background : $pallete-bg-grey;
				}
				/*&:nth-child(4n + 6) {
					max-height : $comic-height-lg;
					height : $comic-height-lg;
				}*/
			video {
			display: $comic-block;
			position : $comic-absolute;
			max-height: $comic-height-lg;
			max-width: $comic-screen-lg;
			@include video-settings;
		}
			img {
			display : $comic-block;
			position : $comic-absolute;
			width :40px;
			height:40px;
			top:0;
		}
			}
		& .screen_one {
			 		 
			}
		& .screen_two {
			 		
			}
		& .screen_three {
			 
		}
		& .screen_four {
			 	

		}
		& .screen_five {
		 
		}
		& .screen_six {
			 		
		}
		& .screen_seven {
			 	
	
		}
		& .screen_eight {
			 	
		}
		& .screen_nine {
			 	
		}
		
}

