@import "../components/partials/_variables";
@import "../components/partials/_header";
@import "../components/partials/_footer";


.allScreens {
	height : 100%;
	width : $comic-screen-lg;
	display: $comic-flex;
	flex-direction : row;
	flex-wrap : wrap;
	  & .sub_screens {
	  		position : $comic-relative;
			height : $comic-height-lg;
			max-height: $comic-height-lg;
    		width : $comic-screen-sm;
    		background : $pallete-bg-grey;
    		margin : $comic-margin;
    		flex-grow:1;
    			span {
    				display : $comic-block;
    				position : $comic-relative;
    				z-index : $z-limit;
    				@include number-tags;
    			}
    		   &:nth-child(4n + 6) {
					max-height : $comic-height-lg;
					height : $comic-height-lg;
					width : $comic-screen-md;	
					background : $pallete-bg-grey;
				}
				&:nth-child(4n + 7) {
					max-height : $comic-height-lg;
					height : $comic-height-lg;
				}
			@media screen and ($maxWidth : $target-width-md) {
    			width : $mob-screen-lg;
    		}
			video {
			display: $comic-block;
			flex-grow : 1;
			@include video-settings;
		}
			img {
				@include img-settings; 
		}
			}
		& .screen_one {
			 		 
			}
		& .screen_two {
			 		
			}
		& .screen_three {
			 
		}
		& .screen_four {
			 	

		}
		& .screen_five {
		 
		}
		& .screen_six {
			 		
		}
		& .screen_seven {
			 	
	
		}
		& .screen_eight {
			 	
		}
		& .screen_nine {
			 	
		}
		
}

.well {
	position : $comic-absolute;
	top:0;
	width : $comic-screen-lg;
	z-index : $z-five;	
}
